<!-- Goals -->
<div class="card mb-6">
  <div class="card-header">
    <h3 class="fs-6 mb-0">Goals</h3>
  </div>
  <div class="card-body py-3">
    <div class="list-group list-group-flush">
      <div class="list-group-item px-0">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="avatar">
              <div class="progress progress-circle text-primary" role="progressbar"
                aria-label="Increase monthly revenue" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                data-bs-toggle="tooltip" data-bs-title="75%" style="--bs-progress-circle-value: 75"></div>
            </div>
          </div>
          <div class="col ms-n2">
            <h6 class="fs-base fw-normal mb-0">Improve Policies</h6>
            <span class="fs-sm text-body-secondary">35</span>
          </div>
          <div class="col-auto">
            <time class="text-body-secondary" datetime="03/15/2024">Dec 15</time>
          </div>
        </div>
      </div>
      <div class="list-group-item px-0">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="avatar">
              <div class="progress progress-circle text-secondary" role="progressbar" aria-label="Launch new feature"
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" data-bs-toggle="tooltip" data-bs-title="50%"
                style="--bs-progress-circle-value: 50"></div>
            </div>
          </div>
          <div class="col ms-n2">
            <h6 class="fs-base fw-normal mb-0">Validate Rules</h6>
            <span class="fs-sm text-body-secondary">Dark mode</span>
          </div>
          <div class="col-auto">
            <time class="text-body-secondary" datetime="10/01/2024">Dec 01</time>
          </div>
        </div>
      </div>
      <div class="list-group-item px-0">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="avatar">
              <div class="progress progress-circle text-danger" role="progressbar" aria-label="Grow user base"
                aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" data-bs-toggle="tooltip" data-bs-title="45%"
                style="--bs-progress-circle-value: 45"></div>
            </div>
          </div>
          <div class="col ms-n2">
            <h6 class="fs-base fw-normal mb-0">Process Inbox</h6>
            <span class="fs-sm text-body-secondary">75</span>
          </div>
          <div class="col-auto">
            <time class="text-body-secondary" datetime="12/12/2024">Dec 12</time>
          </div>
        </div>
      </div>
      <div class="list-group-item px-0">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="avatar">
              <div class="progress progress-circle text-primary" role="progressbar"
                aria-label="Improve customer satisfaction" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                data-bs-toggle="tooltip" data-bs-title="60%" style="--bs-progress-circle-value: 60"></div>
            </div>
          </div>
          <div class="col ms-n2">
            <h6 class="fs-base fw-normal mb-0">Search Keywords</h6>
            <span class="fs-sm text-body-secondary">85</span>
          </div>
          <div class="col-auto">
            <time class="text-body-secondary" datetime="12/15/2024">Dec 20</time>
          </div>
        </div>
      </div>
      <div class="list-group-item px-0">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="avatar">
              <div class="progress progress-circle text-success" role="progressbar" aria-label="Reduce response time"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-bs-toggle="tooltip" data-bs-title="100%"
                style="--bs-progress-circle-value: 100"></div>
            </div>
          </div>
          <div class="col ms-n2">
            <h6 class="fs-base fw-normal mb-0">Reduce response time</h6>
            <span class="fs-sm text-body-secondary">1hr</span>
          </div>
          <div class="col-auto">
            <time class="text-body-secondary" datetime="01/01/2025">Jan 01</time>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>