<div class="card bg-body">
    <div class="card-body py-4">
        <ul class="list-group list-group-flush bg-body mb-0" id="api-evangelist-service-list">            

            <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">
                <span class="text-body-secondary"><strong>API Evangelist Newsletter</strong>
                <div style="cursor:pointer; position:relative; margin-left: 3px; top: 3px;" class="material-symbols-outlined fs-5 text-emphasis" data-bs-placement="right" data-bs-html="true" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-title="API Evangelist Newsletter" data-bs-content="API Evangelist sends out a newsletter every Monday morning with the highlights of stories, conversations, APIs, policies, and many other pieces of knowledge, information, and artifacts that apply to API operations.">info</div>                 
                </span>
            </li>
            <li class="list-group-item">
                <form style="width: 100%;" action="https://buttondown.com/api/emails/embed-subscribe/apievangelist" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.com/apievangelist', 'popupwindow')" class="embeddable-buttondown-form">
                <input type="email" class="form-control" name="email" id="bd-email" placeholder="your@email.com" />
                <button type="submit" class="btn btn-sm btn-warning" style="margin-top: 10px;">Sign Up</button>
              </form>  
            </li> 
        </ul>           
    </div>
</div>