<!-- Performance -->
<div class="card mb-6">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="fs-6 mb-0">Performance</h3>
      </div>
      <div class="col-auto fs-sm me-n3">
        <span class="material-symbols-outlined text-primary me-1">circle</span>
        Total
      </div>
      <div class="col-auto fs-sm">
        <span class="material-symbols-outlined text-dark me-1">circle</span>
        Tracked
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart">
      <canvas class="chart-canvas" id="userPerformanceChart"></canvas>
    </div>
  </div>
</div>